<div class="row">
  <h3><%= agenda_item.title %></h3>
  <h4><%= agenda_item.committee.name %></h4>
  <strong><%= agenda_item.acted_on.in_time_zone %></strong>
  <p><%= agenda_item.description %></p>
</div>