<!-- begin page-header -->
<h1 class="page-header">Featured Issues <small>More issues coming soon...</small></h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row">
  <!-- begin col-6 -->
  <div class="col-md-12">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab-1" data-toggle="tab">Minneapolis Budget</a></li>
		<li class=""><a href="#tab-2" data-toggle="tab">Community Engagement Forums</a></li>
		<li class=""><a href="#tab-3" data-toggle="tab">Growth and Equity</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade active in" id="tab-1">
			<h3 class="m-t-10"><i class="fa fa-cog"></i> City’s $1 billion budget reveals our collective priorities.</h3>
			<hr>
			<p>
				The City’s $1 billion budget is one of the most important piece of legislation, as it determines how much money is given to the issues that shape the City. From funding bike infrastructure and police body cameras to adding positions to make departments more effective, the scope and direction of the budget has a significant impact on how the City addresses its issues.
			</p>
			<p>
				<h4>The Process</h4>
				The process of shaping the budget includes a review of the previous year’s budget, department recommendations, feedback from a resident committee, suggestions from City Council members and City departments, which leads to a proposal by the Mayor. The Ways and Means Budget Committee then hosts a public hearing process, which takes into account resident, staff, and elected official feedback. Once the City Council adopts the budget, requests from departments for additional funds or positions are brought up as amendments for final approval. The final budget adoptions occurs after November 24th.
			</p>
			<blockquote>
				<p>“the city's budget is important because it's a monetary picture of our priorities as a city, by looking at the funding allocations, residents can learn about the city's priorities and ask questions or request changes. if you care about a particular service or program that the city does, we need to make sure its funded so it can actually happen.”</p>
				<small><cite title="Source Title">Ward 9 Council Member Alondra Cano</cite></small>
			</blockquote>
		</div>
		<div class="tab-pane fade" id="tab-2">
			<h3 class="m-t-10"><i class="fa fa-cog"></i> Engaging Citizens across the City</h3>
			<hr>
			<p>
				Community engagement is what the City uses to get more people to participate in civic related activities, which includes voting, attending community events, volunteering, joining a City board or commission, getting to know neighbors and general community building. More civic participation strengthens democracy and increases the value of public institutions and infrastructure - meaning the more people participate, the stronger and more representative our city is.
			</p>
			<p>
				<h4>The Process</h4>
				The process of shaping community engagement policy can be initiated by anyone, but it must first pass through the proper official channels. The City’s Neighborhood and Community Relations department and resident-populated Neighborhood and Community Relations Commission report their ideas/concerns to the Health, Environment and Community Engagement (HECE) committee who is the lawmaking body who addresses community engagement-related issues.
			</p>
		</div>
		<div class="tab-pane fade" id="tab-3">
			<h3 class="m-t-10"><i class="fa fa-cog"></i> Growth and Equity</h3>
			<hr>
			<p>
				Coming Soon
			</p>
		</div>
	</div>
</div>
<!-- end col-6 -->