<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="center-block">Issue: Open Data</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Your Minneapolis City Council <br> member is...</h1>
        <img src="http://www.minneapolismn.gov/www/groups/public/@council/documents/images/andrew-johnson.jpg">

        <p></p>

        <%= link_to('Andrew Johnson &raquo;'.html_safe, 'http://www.andrewmpls.com/', class: 'btn btn-primary btn-lg') %>
    </div>
  </div>
  <div class="row">
    <h2>Past events</h2>
  </div>
  <div class="row">
    <h2>Upcoming events</h2>
  </div>

  <hr>
</div> <!-- /container -->