<h1>Maps</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maps.each do |map| %>
      <tr>
        <td><%= link_to "Map #{map.id}", map %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
