<h1>Welcome to OurCity!</h1>

<p class="lead">Thanks for signing up!</p>

<p>You're almost set to receive updates from <%= @subscription_desc %>. Follow the instructions below to make sure you
  get all the updates!</p>

<% content_for :call_to_action do %>

    <p>Please <%= link_to("confirm that you wish to receive OurCity updates at this email address", '#') %>.
      You won't receive updates until we're sure you want to get email from us,
      so <%= link_to('confirm your email now! »', "#") %></p>

<% end %>