<div class="row">
  <div class="col-md-8">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Address Lookup</h4>
      </div>
      <div class="panel-body">
        <form id="geocode-form" class="form-horizontal">
          <div class="form-group">
            <label class="col-md-3 control-label">Street Address</label>
            <div class="col-md-9">
              <input type="text" class="form-control"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">City, State</label>
            <div class="col-md-9">
              <input type="text" class="form-control"
                placeholder="Minneapolis, MN" disabled>
              </input>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-10"></div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-sm btn-success">
                Lookup
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  OurCity.geocoder.init();
</script>
