<h1>About OUR CITY</h1>
<p>Do you think your voice isn’t being heard in the decisions made by the City? Are there issues that you care about that are not being properly addressed? Do you think the City’s decision-making process is too confusing and complex? Do you have ideas that will make the City better?</p> 

<p><h4>Our City is an engagement platform that provides accessibility and transparency into the City’s governing process.</h4></p>
