<!-- begin page-header -->
<h1 class="page-header">Map <small>header small text goes here...</small></h1>
<!-- end page-header -->

  <div class="map-content">

  </div>
	<div class="map">
		<div id="google-map-default" class="height-full width-full"></div>
	</div>

<!-- end #content -->
<script>
	$(document).ready(function() {
		MapGoogle.init();
	});
</script>
