<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
	<!-- begin sidebar scrollbar -->
	<div data-scrollbar="true" data-height="100%">
		<!-- begin sidebar user -->
		<ul class="nav">
			<li class="nav-profile">
				<div class="image">
					<a href="javascript:;"><img src="assets/img/user-11.jpg" alt="" /></a>
				</div>
				<div class="info">
					Sean Ngu
					<small>Front end developer</small>
				</div>
			</li>
		</ul>
		<!-- end sidebar user -->
		<!-- begin sidebar nav -->
		<ul class="nav">
			<li class="nav-header">Navigation</li>
			<li class="active">
				<a href="index.html"><i class="fa fa-laptop"></i> <span>Dashboard</span></a>
			</li>
			<li class="has-sub">
			    <a href="javascript:;">
			        <i class="fa fa-map-marker"></i>
			        <b class="caret pull-right"></b>
			        <span>Map</span>
			    </a>
				<ul class="sub-menu">
					<li><a href="map_vector.html">Vector Map</a></li>
					<li><a href="map_google.html">Google Map</a></li>
				</ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;">
				    <i class="fa fa-suitcase"></i> 
				    <b class="caret pull-right"></b>
				    <span>Committee Members</span> 
				</a>
				<ul class="sub-menu">
					<% @committee_members.each do |committee_member| %>
					<li><%= link_to committee_member.full_name, committee_member %></li>
					<% end %>
				</ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;">
				    <i class="fa fa-file-o"></i> 
				    <b class="caret pull-right"></b>
				    <span>Form Stuff</span> 
				</a>
				<ul class="sub-menu">
					<li><a href="form_elements.html">Form Elements</a></li>
					<li><a href="form_plugins.html">Form Plugins</a></li>
					<li><a href="form_validation.html">Form Validation</a></li>
					<li><a href="form_wizards.html">Wizards</a></li>
					<li><a href="form_wysiwyg.html">WYSIWYG</a></li>
				</ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;">
				    <b class="caret pull-right"></b>
				    <i class="fa fa-th"></i> 
				    <span>Tables</span> 
				</a>
				<ul class="sub-menu">
					<li><a href="table_basic.html">Basic Tables</a></li>
					<li><a href="table_manage.html">Managed Tables</a></li>
				</ul>
			</li>
			<li><a href="charts.html"><i class="fa fa-signal"></i> <span>Charts</span></a></li>
			<li><a href="calendar.html"><i class="fa fa-calendar"></i> <span>Calendar</span></a></li>
			<li><a href="gallery.html"><i class="fa fa-camera"></i> <span>Gallery</span></a></li>
			<li class="has-sub">
				<a href="javascript:;">
				    <i class="fa fa-cogs"></i>
				    <b class="caret pull-right"></b>
				    <span>Page Options</span>
				</a>
				<ul class="sub-menu">
					<li><a href="page_blank.html">Blank Page</a></li>
					<li><a href="page_with_footer.html">Page with Footer</a></li>
					<li><a href="page_without_sidebar.html">Page without Sidebar</a></li>
					<li><a href="page_with_right_sidebar.html">Page with Right Sidebar</a></li>
					<li><a href="page_with_minified_sidebar.html">Page with Minified Sidebar</a></li>
				</ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;">
				    <i class="fa fa-gift"></i>
				    <b class="caret pull-right"></b>
				    <span>
				        Extra
				        <span class="label label-success m-l-5">NEW</span>
				    </span>
				</a>
				<ul class="sub-menu">
				    <li><a href="extra_timeline.html">Timeline <i class="fa fa-paper-plane text-success m-l-5"></i></a></li>
				    <li><a href="extra_coming_soon.html">Coming Soon Page <i class="fa fa-paper-plane text-success m-l-5"></i></a></li>
					<li><a href="extra_search_results.html">Search Results</a></li>
					<li><a href="extra_invoice.html">Invoice</a></li>
					<li><a href="extra_404_error.html">404 Error Page</a></li>
					<li><a href="extra_login.html">Login</a></li>
				</ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;">
				    <i class="fa fa-align-left"></i> 
				    <b class="caret pull-right"></b>
				    <span>Menu Level</span>
				</a>
				<ul class="sub-menu">
					<li class="has-sub">
						<a href="javascript:;">
				            <b class="caret pull-right"></b>
				            Menu 1.1
				        </a>
						<ul class="sub-menu">
							<li class="has-sub">
								<a href="javascript:;">
								    <b class="caret pull-right"></b>
								    Menu 2.1
								</a>
								<ul class="sub-menu">
									<li><a href="javascript:;">Menu 3.1</a></li>
									<li><a href="javascript:;">Menu 3.2</a></li>
								</ul>
							</li>
							<li><a href="javascript:;">Menu 2.2</a></li>
							<li><a href="javascript:;">Menu 2.3</a></li>
						</ul>
					</li>
					<li><a href="javascript:;">Menu 1.2</a></li>
					<li><a href="javascript:;">Menu 1.3</a></li>
				</ul>
			</li>
	        <!-- begin sidebar minify button -->
			<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
	        <!-- end sidebar minify button -->
		</ul>
		<!-- end sidebar nav -->
	</div>
	<!-- end sidebar scrollbar -->
</div>
<!-- end #sidebar -->