<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <%= stylesheet_link_tag 'subscriber_mailer', media: 'all' %>
</head>
<body>
<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <center>

        <table class="row header">
          <tr>
            <td class="center" align="center">
              <center>

                <table class="container">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="six sub-columns">
                            <%= link_to image_tag('ourcity.jpg'), 'http://www.google.com' %>
                          </td>
                          <td class="six sub-columns last" style="text-align:right; vertical-align:middle;">
                            <span class="template-label">&nbsp;</span>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

              </center>
            </td>
          </tr>
        </table>

        <table class="container">
          <tr>
            <td>

              <table class="twelve columns">
                <tr>
                  <td>
                    <%= yield %>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

              <% if content_for?(:call_to_action) %>
                  <table class="row callout">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td class="panel">
                              <%= yield :call_to_action %>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
              <% end %>


              <table class="row footer">
                <tr>
                  <td class="wrapper">

                    <table class="six columns">
                      <tr>
                        <td class="left-text-pad">

                          <h5>Connect With Us:</h5>

                          <table class="tiny-button facebook">
                            <tr>
                              <td>
                                <a href="https://www.facebook.com/ourcitymn">Facebook</a>
                              </td>
                            </tr>
                          </table>

                          <br>

                          <table class="tiny-button twitter">
                            <tr>
                              <td>
                                <a href="https://twitter.com/ourcitymn">Twitter</a>
                              </td>
                            </tr>
                          </table>

                          <br>

                          <table class="tiny-button github">
                            <tr>
                              <td>
                                <a href="https://github.com/ourcity">GitHub</a>
                              </td>
                            </tr>
                          </table>

                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                  <td class="wrapper last">

                    <table class="six columns">
                      <tr>
                        <td class="last right-text-pad">
                          <h5>Contact Info:</h5>

                          <p>Email us at <a href="mailto:ourcitymn@gmail.com">ourcitymn@gmail.com</a></p>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td align="center">
                          <center>
                            <p style="text-align:center;"><a href="#">Terms</a> | <a href="#">Privacy</a> |
                              <a href="#">Unsubscribe</a></p>
                          </center>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </table>


      </center>
    </td>
  </tr>
</table>
</body>
</html>